* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #121212;
  color: #d2d2d2;
}
/* .....................................NAVBAR................................................ */
#navbar {
  padding: 0px 20px;

  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu {
  width: 450px;
}
#menu #menuUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#menu #menuUl li,
a {
  list-style: none;
  text-decoration: none;
}
#menu #menuUl a:hover {
  transform: scale(2);
  color: #fff;
}
/* ..........................................ABOUT............................................ */
.about {
  display: flex;
  height: 400px;
  
}
.headnContent {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 650px;
}
#head1 {
  position: relative;
  /* top: 100px;
  left: 100px; */
  font-size: 46px;
  width: 200px;
}
#content {
  position: relative;
  /* top: 110px;
  left: 100px; */
  font-size: 20px;
  width: 460px;
}
.profilepic {
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 450px;
}
/* .........................................PROJECT............................................... */
.projects {

  height: 700px;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectHeading {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.project1 {
  font-size: 25px;
}
.card {
  padding: 0px 20px;
  width: 1000px;
  margin: 50px auto;
 
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.infoProject1 ul li {
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 60px;
  padding: 1px;
  margin: 4px;
}
#linkofgit a:hover {
  background-color: crimson;
  color: #fff;
  width: 60px;
  cursor: pointer;
  border-radius: 5px;
}
.infoProject1 ul li:hover {
  background-color: black;
  color: #fff;
}
.project1img {
  height: 300px;
}

/* .........................................CONTACT.................................................... */

.contact{
  height: 200px;
  width: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
}
.contact button{
  margin: 5px;
  font-size: 15px;

  background-color: black;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
}
.contact button a{
  color: #fff;
}

.contact button:hover{
  background-color: crimson;
}
.contact a:hover{
  background-color: crimson;
}
/* ....................................................MEDIA QUERIES........................................................ */



@media (max-width : 431px) {
  .headnContent{
    padding: 20px;
  }
  #content{
    width: 370px;
  }
  .card{
    flex-direction: column;
  }
  .projects{
    margin-top: 250px;
  }
  .project1img{
    height: 170px;
  }
  .card{
    padding: 0px 22px;
  }
  .infoProject1{
    width: 390px;;
  }
  .contact{
    height: 390px;
  }
}